@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Estilos generales del sitio */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
#body-inicio {
  background-color: #eeeeee;
  background-image: url(img/fondo-linea.png);
  background-size: cover;
}

#main-inicio section {
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  width: 80%;
  max-width: 1280px;
}

/* Header */

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5em;
  align-items: center;
  padding: 0 3em;
}

.icons a img {
  height: 1.6em;
  width: auto;
  margin-left: 1em;
}

/* Seccion inicio */

#s-inicio {
  padding: 3em 0 6em 0;
}

#s-inicio img {
  width: 50%;
  margin-bottom: 0.5em;
}
#s-inicio h1 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 10em;
}
#s-inicio h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0.2em 0 2em 0;
  text-transform: none;
}

#destacado {
  font-style: italic;
  margin-bottom: 1em;
  font-size: 1.2em;
}

#s-inicio p {
  padding: 0 14em;
}

/* Seccion proyectos */

h2 {
  text-transform: uppercase;
  font-weight: 600;
}

#s-proyectos p {
  margin: 1em 8em 5em 8em;
}

#div-texto {
  height: 50vh;
}

#s-proyectos .container {
  width: 70%;
}

h3 {
  text-transform: uppercase;
  font-weight: 500;
  padding: 1em 0 1em 0;
  font-size: 1.5em;
}
/* .container-proyectos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
 */

#container-proyectos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

article {
  width: 100%;
  justify-self: center;
}

article img {
  width: 100%;
  border: 1em white solid;
}

/* #container-proyectos article:nth-child(even) {
  margin-top: 25%;
}

#container-proyectos article:nth-child(odd) {
  margin-top: -25%;
}
 */
/* article:nth-of-type(2),
article:nth-of-type(3),
article:nth-of-type(6),
article:nth-of-type(7),
article:nth-of-type(10),
article:nth-of-type(11),
article:nth-of-type(14) {
  width: 85%;
}
 */

/* hover proyectos */
.project-article {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  /* opacity: 0;
  transform: translateY(20px);
   */
  transition: opacity 1s ease, transform 1s ease;
}

.project-article img {
  width: 100%;
  transition: opacity 0.6s ease;
}

.hover-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2em;
  background: white; /* Fondo blanco */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.6s ease;
}

.hover-info h4 {
  text-transform: uppercase;
  font-size: 1.2em;
}

.hover-info p {
  color: #4067bf;
  font-size: 1.2em;
  width: 100%;
}

.project-article:hover {
  transform: scale(1.05); /* Escala el artículo un 5% más grande */
}

.project-article:hover .project-image {
  opacity: 0; /* Oculta la imagen al hacer hover */
}

.project-article:hover .hover-info {
  opacity: 1; /* Muestra el texto al hacer hover */
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50vh;
}

/* Ampliación diseño de identidad visual */

#header-amp {
  position: absolute;
  left: 1.5em;
  top: 1em;
}
#header-amp a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-amp a p {
  margin-left: 0.5em;
}

#main-adi {
  background-color: white;
}

#s-portada img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-bottom: 1.6em;
}

#s-info {
  padding: 0 14em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

#s-info div:first-of-type {
  width: 60%;
}
#s-info div:nth-of-type(2) {
  width: 35%;
  align-self: flex-end;
}

#s-info div:last-of-type {
  width: 100%;
  padding-top: 4em;
}

#s-info h1 {
  font-size: 1.6em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.2em;
}

#s-info h2 {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: none;
  margin: 0.8em 0 0.4em 0;
}

#s-info p {
  margin-bottom: 0.2em;
}

.p-destacado {
  font-size: 1.2em;
  font-style: italic;
}

#s-info h4 {
  text-transform: none;
  font-size: 1.2em;
  font-weight: 500;
  padding-bottom: 1em;
}
#div-herramientas {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#div-herramientas img {
  width: 3em;
  margin-right: 0.5em;
}

#intro-bg {
  background-color: black;
  height: 22em;
  display: flex;
  margin: 4em 0;
}

#div-intro {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 14em;
}

#div-intro img {
  height: 16em;
  margin-right: 2em;
}

#div-intro p {
  color: white;
  font-weight: 300;
}

#div-colores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding: 0 14em 4em 14em;
  height: 22em;
}

#div-colores div {
  width: 100%;
}

#div-tipografias {
  background-color: #06b3b2;
  padding: 4em 0;
}

#s-aplicaciones {
  padding: 4em 14em 4em 14em;
}

#grid-aplicaciones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}
#grid-aplicaciones img {
  width: 100%;
  grid-column: 1 / span2;
}

#grid-aplicaciones img:nth-of-type(1),
#grid-aplicaciones img:nth-of-type(2) {
  grid-column: auto;
}

/* prueba linea fondo */
svg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.line {
  stroke-dasharray: 340;
  stroke-dashoffset: 340;
}

#div-line {
  height: 300vh;
  font-size: 10em;
  text-align: center;
  padding-top: 1em;
}
